.follow .row {
    padding: 30px 0;
}
.follow .main .note-list li{
    width: 100%;
    margin: 0 0 17px;
    padding: 0 2px 17px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.follow .main .note-list li.have-img{
    min-height: 140px;
}
.follow .main .note-list li.have-img .wrap-img{
    position: absolute;
    top: 50%;
    right: 0;
    width: 150px;
    height: 120px;
    margin-top: -68px;
}
.follow .main .note-list li.have-img .content{
    padding-right: 160px;
}
.follow .main .note-list .author{
    margin-bottom: 14px;
    font-size: 13px;
}
.follow .main .note-list .author .avatar{
    vertical-align: middle;
    margin: 0 5px 0 0;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.follow .main .note-list .author .avatar>img{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.follow .main .note-list .author .info{
    display: inline-block;
    vertical-align: middle;
}
.follow .main .note-list .author .info .img-icon{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 4px;
}
.follow .main .note-list .author .info span{
    color: #969696;
}
/*.follow .main .note-list .title:visited{*/
/*color: #969696;*/
/*}*/
.follow .main .note-list .title{
    margin: -7px 0 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
.follow .main .note-list .abstract{
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
}
.follow .main .note-list .meta{
    padding-right: 0;
    font-size: 12px;
    line-height: 20px;
}
.follow .main .note-list .meta a.origin-author{
    margin-bottom: 5px;
    color: #3194d0;
    font-size: 13px;
}
.follow .main .note-list .meta a.active,
.follow .main .note-list .meta span{
    margin-right: 10px;
    color: #b4b4b4;
}
.follow .main .note-list .meta a.active:hover{
    color: #3f3f3f;
}
.follow .main .note-list .more{
    width: 100%;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #a5a5a5;
    display: block;
}
.follow .main .note-list .more:hover{
    background-color: #9f9f9f;
}

/**************人文社科*************/