.followaside {
    padding: 0 0 30px;
    overflow: auto;
}
.followaside .change{
    margin-left: 15px;
    font-size: 15px;
}
.followaside .change i{
    color: #fff;
    width: 15px;
    height: 15px;
    background-color: #c8c8c8;
    border-radius: 50%;
    text-align: center;

}
.followaside .addfollow{
    float: right;
    margin: 0 10px 0 0;
    font-size: 13px;
}
.followaside .addfollow i{
    margin-right: 5px;
}
.followaside .followed-list{
    margin-top: 7px;
}
.followaside .followed-list li .avatar{
    width: 40px;
    height: 40px;
    margin: 0 8px 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.followaside .followed-list li .avatar>img{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.followaside .followed-list li .avatar>img.circle{
    border-radius: 50%;
}
.followed-list .name{
    font-size: 14px;
    color: #2f2f2f;
}
.followed-list .number{
    float: right;
    font-size: 14px;
    color: #969696;
    margin-top: 9px;
    margin-right: 10px;
}
.followaside .followed-list li {
    padding: 10px 0;
    cursor: pointer;
    border-radius: 3px;
}
.followaside .followed-list li.active {
    background-color: #f0f0f0;
}
.followaside .followed-list li:hover {
    background-color: #f0f0f0;
}