/**********************热门专题***********************/
.index .main{
    padding-top: 30px;
    padding-right: 0;
}
.index .aside{
    padding-top: 30px;
}
.index .main .recommend-collection{
    margin-bottom: 20px;
}
.index .main .recommend-collection a.collection{
    display: inline-block;
    margin: 0 20px 20px 0;
    border: 1px solid #dcdcdc;
    background: #f7f7f7;
    border-radius: 4px;
    height: 34px;
    color: black;
    font-size: 14px;
    font-family: inherit;
    overflow: hidden;
    vertical-align: middle;
}
.index .main .recommend-collection a.more{
    color: #787878;
    /*line-height: 34px;*/
    /*height: 34px;*/
    white-space: nowrap;
}
.index .main .recommend-collection a.collection img{
    width: 32px;
    margin: 0;
    vertical-align: middle;
}
.index .main .recommend-collection a.collection span{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    overflow: hidden;/*溢出隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分显示省略号*/
    max-width: 150px;/*设最大宽度*/
}
.index .main .split-line{
    margin: 0 0 15px 0;
    border-top: 1px solid #f0f0f0;
}
/*****************************文章列表******************************/
.note-list li{
    position: relative;
    width: 100%;
    padding: 0 0 17px;
    margin: 0 0 17px;
    border-bottom: 1px solid #f0f0f0;
}
.note-list li .wrap-img{
    width:150px;
    height: 120px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -60px;
    border-radius: 4px;
    overflow: hidden;
}
.note-list li .wrap-img img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.note-list li.have-img>div{
    padding-right: 160px;
}
.note-list .author{
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
}
.note-list .author .avatar{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}
.note-list .author .avatar img{
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.note-list .author .info{
    display: inline-block;
    vertical-align: middle;
}
.note-list .author .icon-tag{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
}
.note-list .author .icon-tag>img{
    width: 15px;
}
.note-list .author .time{
    color: #969696;
    vertical-align: middle;
    padding-left: 5px;
}
.note-list .author .icon-title{
    position: absolute;
    top: -30px;
    left: 32px;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    width: 130px;
    text-align: center;
}
.note-list .author .caret-down{
    position: absolute;
    top: -8px;
    left: 90px;
    font-size: 18px;
    color: #000;
}
.note-list .title{
    display: block;
    margin: -7px 0 4px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}
.note-list .title:hover{
    text-decoration: underline;
}
.note-list .abstruct{
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 24px;
}
.note-list .meta{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.note-list .meta .collection-tag{
    max-width: 800px;
    display: inline-block;
    padding: 0 5px;
    color: #ea6f5a;
    border: 1px solid rgba(236,97,73,.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 3px;
    transition:all .3s ease-in;
}
.note-list .meta .collection-tag:hover{
    background-color: rgb(254,247,246);
    color: #ec6149!important;
    border-color: #ec6149;
}
.note-list .meta a{
    color: #b4b4b4;
    margin-right: 10px;
    transition:.3s ease-in;
}
.note-list .meta a:hover{
    color: #787878;
}
.note-list .meta span{
    color: #b4b4b4;
    margin-right: 10px;
}
.index .main .load-more{
    display: block;
    background-color: #a5a5a5;
    color: #fff;
    padding:10px;
    margin: 20px 0;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
}
.index .main .load-more:hover{
    background-color: #999;
}

/*****************************侧边栏*******************************/
.index .aside .board{
    padding-bottom: 6px;
}
.index .aside .board img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;
}
/*********二维码*********/
.index .aside .board .last{
    position: relative;
}
.index .aside .board .code{
    padding: 10px 22px;
    margin: 10px 0;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
}
.index .aside .board .code>div{
    display: inline-block;
}
.index .aside .board .code .right{
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
.index .aside .board a .left>img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.index .aside .board .right .download{
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
}
.index .aside .board .right .checkout {
    font-size: 13px;
    color: #999;
}
.index .aside .board .big-code{
    padding: 10px 10px 0 10px;
    position: absolute;
    top: -275px;
    left: 55px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 4px;
}
.index .aside .board .big-code>img{
    width: 150px;
    height: 150px;
}
/*********推荐作者**********/
.index .aside .recommend-author{
    margin: 20px 0;
    text-align: center;
    font-size: 13px;
}
.index .aside .recommend-author .title{
    text-align: left;
}
.index .aside .recommend-author .title span{
    color: #969696;
}
.index .aside .recommend-author .title .page-change{
    float: right;
    color: #969696;
}
.index .aside .recommend-author .title .page-change:hover{
    color: #6f6f6f;
}
.index .aside .recommend-author .recommend-list{
    text-align: left;
    margin-bottom: 20px;
}
.index .aside .recommend-author .recommend-list li{
    margin-top: 15px;
}
.index .aside .recommend-author .recommend-list li .avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.index .aside .recommend-author .recommend-list li .avatar>img{
    width: 100%;
}
.index .aside .recommend-author .recommend-list li .follow{
    float: right;
    color: #42c02e;
    font-size: 13px;
    margin-top: 5px;
}
.index .aside .recommend-author .recommend-list li .followed{
    color: #969696;
    float: right;
    font-size: 13px;
    margin-top: 5px;
}
.index .aside .recommend-author .recommend-list li .name{
    margin-right: 60px;
    font-size: 14px;
    color: #333;
    padding-top: 5px;
    display: block;
}
.index .aside .recommend-author .recommend-list li p{
    margin: 2px 0 5px 0;
    color: #969696;
    font-size: 12px;
}
.index .aside .recommend-author .find-more{
    display: block;
    width: 100%;
    padding: 7px 7px 7px 18px;
    border: 1px solid #dcdcdc;
    background-color: #f7f7f7;
    color: #787878;
    text-align: center;
    border-radius: 4px;
}

/******二维码设置媒体查询*****/
@media (max-width:1080px){
    .index .aside .board .code{
        padding: 7px 10px;
    }
    .index .aside .board .code .left>img{
        width: 50px;
        height: 50px;
    }
    .index .aside .board .code .right{
        margin-left: 2px;
    }
    .index .aside .board .big-code{
        left: 22px;
        top: -260px;
    }
}