/***************************全局清除浏览器默认样式***************************/
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    color: #333333;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    line-height: 1.42857;
}
body{
    /*overflow: hidden;*/
    overflow-x: hidden;
}
#__nuxt{
    height: 100%;
}
#__layout{
    height: 100%;
}
#sign-template{
    height: 100%;
}
#default-template{
    height: 100%;
}
ul,ol,dl{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    line-height: 20px;
}
input,input:hover,input:focus,input:active{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 17px;
    margin: 0;
}
p{
    margin: 0;
}
a,a:hover{
    text-decoration: none;
    color: #333;
}
/*******关于头像的设置*******/
.avatar{
    display: block;
    cursor: pointer;
    vertical-align: middle;
}
.avatar>img{
    width: 100%;
    border: 1px solid #ddd;
    vertical-align: middle;
    border-radius: 10%;
}
.avatar>img.circle{
    border-radius: 50%;
}
/******关于按钮的设置*******/
.btn{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}
/*添加关注的按钮*/
.btn.btn-success{
    border-radius: 40px;
    color: #fff;
    background-color: #42c02e;
    width: 100px;
}
.btn.btn-success:hover{
    background-color: #3db922;
}
/************************************首页样式******************************************/
.container{
    padding: 0 15px;
    margin: 0 auto;
}
/*大于992px*/
@media (min-width:992px) {
    .container{
        width: 960px;
    }
}
/*小于1080px*/
@media (max-width:1080px) {
    .container{
        width: 750px;
    }
}





